﻿@inherits LayoutComponentBase

<div class="md:flex h-screen">
    <div class="bg-neutral-600">
        <NavMenu />
    </div>

    <main class="flex-1">
        <div class="px-4 py-5 bg-neutral-100 text-right text-sky-700 border-b border-neutral-300">
            <a class="hover:underline" href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="px-8">
            @Body
        </article>
    </main>
</div>
