﻿<div class="px-3 py-2 md:w-60 bg-neutral-700 text-white">
    <div class="h-12 flex justify-between items-center">
        <a class="ps-3 text-xl" href="">PhotinoBlazorTailwind.Desktop</a>
        <button title="Navigation menu" class="w-12 h-full md:hidden rounded-full hover:bg-white/20 transition" @onclick="ToggleNavMenu">
            <i class="bi bi-list text-xl"></i>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass">
    <nav class="p-3 flex flex-col gap-2">
        <div class="text-white">
            <NavLink class="rounded p-3 block focus:bg-white/30 hover:bg-white/20 transition" href=""
                Match="NavLinkMatch.All">
                <i class="bi bi-house-door-fill mr-1"></i> Home
            </NavLink>
        </div>
        <div class="text-white">
            <NavLink class="rounded p-3 block focus:bg-white/30 hover:bg-white/20 transition" href="counter">
                <i class="bi bi-plus-square-fill mr-1"></i> Counter
            </NavLink>
        </div>
        <div class="text-white">
            <NavLink class="rounded p-3 block focus:bg-white/30 hover:bg-white/20 transition" href="fetchdata">
                <i class="bi bi-bar-chart-steps mr-1"></i> Fetch data
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "hidden md:block" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
