﻿<div class="mt-4 p-4 bg-neutral-200 rounded border border-neutral-300">
    <i class="bi bi-pencil-fill mr-1" aria-hidden="true"></i>
    <strong>@Title</strong>

    <span class="">
        Please take our
        <a target="_blank" class="underline" href="https://go.microsoft.com/fwlink/?linkid=2148851">brief survey</a>
    </span>
    and tell us what you think.
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string? Title { get; set; }
}
