﻿@page "/counter"

<PageTitle>Counter</PageTitle>

<h1 class="text-4xl mb-3 mt-6">Counter</h1>

<p role="status" class="mb-3">Current count: @currentCount</p>

<button class="px-3 py-2 bg-sky-400 hover:bg-sky-500 rounded text-white transition" @onclick="IncrementCount">Click
    me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
