﻿@page "/"

<PageTitle>Index</PageTitle>

<h1 class="text-4xl mb-3 mt-6">Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<button class="mt-3 px-3 py-2 bg-sky-400 hover:bg-sky-500 rounded text-white transition"
    @onclick="OnClick_ThrowButton">Throw!</button>

<button class="mt-3 px-3 py-2 bg-sky-400 hover:bg-sky-500 rounded text-white transition"
    @onclick="OnClick_OpenFile">Open file</button>

<p>@TextContent</p>
